fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-valyu
pydantic
faiss-cpu
numpy
python-dotenv
httpx
boto3       # For Bedrock (Holistic AI)
langsmith
langgraph
langchain-openai
sqlalchemy